body {
    color: #fff;
    max-width: 1200px;
    background-color: #636e72;
    width: 90%;
    margin: 0 auto;
}

.head {
    height: 170px;
    background-color: #0984e3;
}

.main {
    background-color: #d63031;
}

.aside {
    background-color: #6c5ce7;
}

.footer {
    background-color: #00b894;
}
