<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../../common/normalize.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='../../common/ui.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='./styles/main.css'>
</head>

<body>
    <header>
        <h1 class="text-lg">✅ Todo List</h1>
    </header>
    <main>
        <h1 class="hide">로그인 및 회원가입</h1>
        <div class="button-wrap">
            <button type="button" class="text-md">로그인</button>
            <button type="button" class="text-md">회원가입</button>
        </div>
    </main>
</body>

</html>