@import url('./common.css');
body {
    max-width: 480px;
    height: 100vh;
    margin: 0 auto;
    padding: 0;
    position: relative;
    color: var(--font-color);
}

header {
    text-align: center;
    padding-top: 30%;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

main input {
    border: 1px solid #ededed;
    padding: 4px 8px;
}

.add-wrap {
    display: flex;
    justify-content: center;
    margin-top: 64px;
}

.add-wrap input[type='text'] {
    width: 320px;
    margin-right: 16px;
}

.list-wrap {
    margin-top: 64px;
}

.list-wrap ul {
    align-items: flex-start;
}

.list-item {
    display: flex;
    width: 100%;
    text-align: left;
    height: 32px;
    margin-top: 4px;
}

.list-item span {
    float: left;
    min-width: 248px;
}

button {
    text-align: center;
    width: 80px;
    color: #fff;
    background-color: var(--primary-color);
    border: 1px solid #fff;
    border-radius: 8px;
    padding: 2px 4px 0px 4px;
    transition: background-color 200ms ease-in-out;
}

button:hover {
    background-color: var(--sub-color);
}

.list-item button {
    width: 48px;
    padding: 4px 1px 0px 1px;
}

.btn-remove,
.btn-edit {
    background-color: var(--accent-color);
}

.btn-remove,
.btn-edit:hover {
    background-color: var(--accent-hover-color);
}
