body {
    background-color: var(--main-color);
    margin: 0 auto;
    max-width: 960px;
    width: 90%;
}

.title {
    text-align: center;
    color: var(--font-color);
    font-size: var(--xl-font);
}

.flag-wrap {
    display: flex;
}

.flag-image {
    width: 100%;
}

.flag-image img {
    border: 2px solid var(--accent-color);
    border-radius: 50% / 10%;
    display: block;
    margin-left: 1rem;
}

.draw-button {
    height: 80px;
    line-height: 80px;
    width: 80px;
    font-size: 2em;
    font-weight: bold;
    border-radius: 50%;
    background-color: #4caf50;
    color: white;
    text-align: center;
    cursor: pointer;
}

.editor-wrap {
    display: flex;
    flex-direction: column;
}

.editor-box {
    display: flex;
    justify-content: space-between;
}

.editor-item {
    display: flex;
    margin-top: 0.5rem;
}

.editor-item .label {
    min-width: 8rem;
}

.editor-item label {
    vertical-align: bottom;
}

.editor-item button {
    border: 1px solid var(--sub-font-color);
    border-radius: 25px;
    background-color: var(--accent-color);
}

.editor-item button:hover {
    cursor: pointer;
}

.h2 {
    color: var(--font-color);
    font-size: var(--lg-font);
}

select {
    min-width: 6.4rem;
    text-align: center;
    border: 1px solid var(--sub-font-color);
    border-radius: 40px 10px;
    height: 2rem;
    background-color: var(--accent-color);
    color: var(--font-accent-color);
}

table,
th,
td {
    border: 1px solid;
}

#tv {
    position: relative;
    width: 200px;
    height: 150px;
    margin: 20px 0;
    background: red;
    border-radius: 50% / 10%;
    color: white;
    text-align: center;
    text-indent: 0.1em;
}
#tv:before {
    content: '';
    position: absolute;
    top: 10%;
    bottom: 10%;
    right: -5%;
    left: -5%;
    background: inherit;
    border-radius: 5% / 50%;
}
