* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: "Lato", sans-serif;
}

h1 {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #273444;
}

/* ▼ WHERE YOUR CODE BEGINS */
.user-card  {
    max-width: 240px;
    border : 2px solid #99A3A4;
    border-radius: 10px;
    padding : 8px 0;
    padding-left: 12px;
}

.user-card::after{
    content: "";
    display: block;
    clear: left;
}

.user-photo, .user-name {
    float: left;
}

.user-photo img{
    display: block;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.user-photo { 
    position: relative;
    margin-right: 12px;
    z-index: 1;
}

.user-status {
    display: block;
    z-index: 2;
    width: 12px;
    height: 12px;
    background-color: #21D891;
    border : 2px solid #fff;
    border-radius: 50%;
    position: absolute;
    bottom: 0px;
    right: 0px;
}


.user-name {
    padding : 8px 0;
}
