<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Wordlcup Draw</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../../common/ui.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='../../common/normalize.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='../css/app.css'>
    <script src='main.js'></script>
</head>

<body>
    <header>
        <a href="#">
            <h1>Worldcup Draw</h1>
        </a>
    </header>
    <section class="filter">
        <div class="select-wrap">
            <label for="country"><strong>Country</strong></label>
            <select id="country">
                <option value="korea-republic">대한민국</option>
                <option value="argentina">아르헨티나</option>
            </select>
        </div>
        <div class="select-wrap">
            <label for="country"><strong>Continent</strong></label>
            <select id="country">
                <option value="uefa">UEFA</option>
                <option value="afc">AFC</option>
            </select>
        </div>
    </section>
    <section>
        <ul class="button-wrap">
            <li><button type="button">
                    <img src="../assets/ball.png" alt="">
                </button></li>
            <li><button type="button">
                    <img src="../assets/ball.png" alt="">
                </button></li>
            <li><button type="button">
                    <img src="../assets/ball.png" alt="">
                </button></li>
            <li><button type="button">
                    <img src="../assets/ball.png" alt="">
                </button></li>
            <li><button type="button">
                    <img src="../assets/ball.png" alt="">
                </button></li>
            <li><button type="button">
                    <img src="../assets/ball.png" alt="">
                </button></li>
            <li><button type="button">
                    <img src="../assets/ball.png" alt="">
                </button></li>
            <li><button type="button">
                    <img src="../assets/ball.png" alt="">
                </button></li>
        </ul>
    </section>
    <main>
        <ol class="standings">
            <li>
                <h2>Group A</h2>
                <table>
                    <thead>
                        <tr>
                            <th scope="col">Team</th>
                            <th scope="col">Continent</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td rowspan="1" class="country-field">
                                <div class="img-wrap">
                                    <img src="../assets/countries/AR.gif" alt="">
                                </div>
                                <p class="country-name">Argentina</p>
                            </td>
                            <td rowspan="1">
                                <p class="continent-name">UEFA</p>
                            </td>
                        </tr>
                        <tr>
                            <td rowspan="1" class="country-field">
                                <div class="img-wrap">
                                    <img src="../assets/countries/JP.gif" alt="">
                                </div>
                                <p class="country-name">Japan</p>
                            </td>
                            <td rowspan="1">
                                <p class="continent-name">AFC</p>
                            </td>
                        </tr>
                        <tr>
                            <td rowspan="1" class="country-field">
                                <div class="img-wrap">
                                    <img src="../assets/countries/KOR.png" alt="">
                                </div>
                                <p class="country-name">Korea Republic</p>
                            </td>
                            <td rowspan=" 1">
                                <p class="continent-name">AFC</p>
                            </td>
                        </tr>
                        <tr>
                            <td rowspan="1" class="country-field">
                                <div class="img-wrap">
                                    <img src="../assets/countries/POR.png" alt="">
                                </div>
                                <p class="country-name">Portugal</p>
                            </td>
                            <td rowspan="1">
                                <p class="continent-name">UEFA</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </li>
            <li>
                <h2>Group B</h2>
                <table>
                    <thead>
                        <tr>
                            <th scope="col">Team</th>
                            <th scope="col">Continent</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td rowspan="1" class="country-field">
                                <div class="img-wrap">
                                    <img src="../assets/countries/AR.gif" alt="">
                                </div>
                                <p class="country-name">Argentina</p>
                            </td>
                            <td rowspan="1">
                                <p class="continent-name">UEFA</p>
                            </td>
                        </tr>
                        <tr>
                            <td rowspan="1" class="country-field">
                                <div class="img-wrap">
                                    <img src="../assets/countries/JP.gif" alt="">
                                </div>
                                <p class="country-name">Japan</p>
                            </td>
                            <td rowspan="1">
                                <p class="continent-name">AFC</p>
                            </td>
                        </tr>
                        <tr>
                            <td rowspan="1" class="country-field">
                                <div class="img-wrap">
                                    <img src="../assets/countries/KOR.png" alt="">
                                </div>
                                <p class="country-name">Korea Republic</p>
                            </td>
                            <td rowspan=" 1">
                                <p class="continent-name">AFC</p>
                            </td>
                        </tr>
                        <tr>
                            <td rowspan="1" class="country-field">
                                <div class="img-wrap">
                                    <img src="../assets/countries/POR.png" alt="">
                                </div>
                                <p class="country-name">Portugal</p>
                            </td>
                            <td rowspan="1">
                                <p class="continent-name">UEFA</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </li>
        </ol>
    </main>
</body>

</html>