/* The copyright of this work belongs to yondo123@gmail.com. */
@import url(../css/header.css);
@import url(../css/footer.css);

.menu a,
.title {
    color: var(--font-color);
}

body {
    overflow-x: hidden;
    background-color: #fff;
    margin: 0 auto;
    height: 100vh;
}

main {
    min-height: 800px;
    max-width: 1280px;
    margin: 2.4rem 0;
    margin-left: 20rem;
    padding: 0 1.2rem;
    border: 0.1rem solid var(--border-color);
    border-radius: 0.8rem;
}

.board-header {
    margin-top: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.board-list {
    margin-top: 2.4rem;
}

.list-detail {
    line-height: 1.4rem;
    padding: 0.2rem 0;
    border-bottom: 0.1rem solid var(--border-color);
}
.list-item:not(:last-child) {
    margin-bottom: 0.8rem;
}

.list-detail a {
    display: flex;
    flex-direction: column;
}

.list-detail strong,
.list-detail p {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.list-detail strong {
    margin: 0.4rem 0;
    font-weight: 700;
    font-size: 1rem;
    color: var(--font-color);
}

.list-detail p {
    font-size: var(--sm-font);
    color: var(--sub-font-color);
}

.list-bottom {
    display: flex;
    flex-direction: column;
    padding: 0 0.8rem;
    margin: 1.2rem 0;
}

.search-wrap select,
input,
button {
    margin-right: 0.4rem;
}

.secret {
    display: flex;
    align-items: center;
}

.icon {
    margin-left: 0.8rem;
}

/* pagination */
.pagination {
    display: flex;
    justify-content: center;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}
