@charset "utf-8";

@font-face {
    font-family: 'noto sans';
    src: url(../assets/fonts/NotoSansKR-Black.otf) format('otf');
}

@font-face {
    font-family: 'noto sans';
    src: url(../assets/fonts/NotoSansKR-Bold.otf) format('otf');
}

@font-face {
    font-family: 'noto sans';
    src: url(../assets/fonts/NotoSansKR-Light.otf) format('otf');
}

@font-face {
    font-family: 'noto sans';
    src: url(../assets/fonts/NotoSansKR-Medium.otf) format('otf');
}

@font-face {
    font-family: 'noto sans';
    src: url(../assets/fonts/NotoSansKR-Regular.otf) format('otf');
}

@font-face {
    font-family: 'noto sans';
    src: url(../assets/fonts/NotoSansKR-Thin.otf) format('otf');
}

body {
    font-family: 'noto sans', sans-serif;
}
