/* 헤더 */
header {
    position: fixed;
    margin-top: 1rem;
    top: 8%;
    left: 2rem;
    z-index: 1;
}

.title {
    font-size: var(--lg-font);
    color: #fff;
}

.menu {
    position: fixed;
    top: 40%;
    transform: translateY(-40%);
    margin-top: 0.8rem;
    font-size: var(--md-font);
}

.menu a {
    color: #fff;
}

.menu a:hover {
    color: var(--accent-color);
}

.menu li {
    margin-top: 0.8rem;
}
