<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>WhatTodo?</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
    <script src="../assets/summernote-lite.js"></script>
    <script src="../assets/summernote-ko-KR.js"></script>
    <link rel='stylesheet' type='text/css' media='screen' href='../css/layouts.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='../css/header.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='../css/post.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='../assets/summernote-lite.css'>
</head>
<body>
    <header>
        <div class="app-logo">
            <img src="../img/app_logo.png" alt="logo">
            
        </div>
        <div class="app-header">
            <a href="#">
                <h1>WhatTodo</h1>
                <strong>당신의 할 일을 공유해보세요.</strong>
            </a>
            <nav>
                <ul class="main-menu">
                    <li>
                        <a href="#">로그인</a>
                    </li>
                    <li>
                        <a href="#">회원가입</a>
                    </li>
                    <li>
                        <a href="#">TODO</a>
                    </li>
                    <li>
                        <a href="#">커뮤니티</a>
                    </li>
                    <li class="select">
                        <a href="#">스터디</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <div class="post-info">
            <h1 class="heading">글쓰기</h1>
            <strong class="board-type">스터디 게시판</strong>
        </div>
        <div class="post">
            <dl>
                <div class="post-detail">
                    <dt class="writer">작성자</dt>
                    <dd>
                        <span class="post-cap">yondo123</span>
                    </dd>
                </div>
                <div class="post-detail">
                    <dt class="date">작성날짜</dt>
                    <dd>
                        <span class="post-cap">2020.02.04</span>
                    </dd>
                </div>
                <div class="post-detail">
                    <dt class="subject">제목</dt>
                    <dd>
                        <span class="post-cap">글쓰기 테스트</span>
                    </dd>
                </div>
                <div class="post-detail">
                    <dt class="category">카테고리</dt>
                    <dd>
                        <span class="post-cap">SQL</span>
                    </dd>
                </div>
                <div class="post-detail">
                    <dt class="content">내용</dt>
                    <dd class="summernote">
                        <div id="summernote">
                        </div>
                    </dd>
                </div>
            </dl>
        </div>
        <div class="post-buttons">
            <button type="button" id="btnModify">글 수정</button>
            <button type="button" id="btnRemove">글 삭제</button>
            <button type="button" id="btnCancel">목록</button>
        </div>
    </main>
</body>
<script>
    $('#summernote').summernote({
        toolbar : false,
    });
    $('#summernote').summernote('code', '<p>asddsadsa<img src="/TodoCommunity/resource/uploadFiles/temporary/1624456608451_25" style="width: 835px;"></p>');
    $('#summernote').summernote('disable');


</script>
</html>