<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>WORLDCUP DRAW SIMULATOR</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' type='text/css' media='screen' href='../css/style.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='../css/main.css'>
</head>

<body>
    <header>
        <h1 class="title pd-all-10">WORLD CUP DRAW</h1>
        <marquee behavior="scroll" direction="left" scrollamount="10">
            <div class="flag-wrap mt-10">
                <div class="flag-image">
                    <img src="../images/AD.gif" width="120" height="80" alt="Natural" />
                </div>
                <div class="flag-image">
                    <img src="../images/AL.gif" width="120" height="80" alt="Natural" />
                </div>
                <div class="flag-image">
                    <img src="../images/GY.gif" width="120" height="80" alt="Natural" />
                </div>
                <div class="flag-image">
                    <img src="../images/AU.gif" width="120" height="80" alt="Natural" />
                </div>
                <div class="flag-image">
                    <img src="../images/ZM.gif" width="120" height="80" alt="Natural" />
                </div>
                <div class="flag-image">
                    <img src="../images/US.gif" width="120" height="80" alt="Natural" />
                </div>
                <div class="flag-image">
                    <img src="../images/AD.gif" width="120" height="80" alt="Natural" />
                </div>
                <div class="flag-image">
                    <img src="../images/AD.gif" width="120" height="80" alt="Natural" />
                </div>
                <div class="flag-image">
                    <img src="../images/AD.gif" width="120" height="80" alt="Natural" />
                </div>
                <div class="flag-image">
                    <img src="../images/AD.gif" width="120" height="80" alt="Natural" />
                </div>
            </div>
        </marquee>
    </header>
    <main class="mt-20">
        <section class="editor-box mt-10">
            <h1 class="hide">Select Country</h1>
            <div class="editor-wrap">
                <div class="editor-item">
                    <div class="label">
                        <label for="continent" class="h2">Continent</label>
                    </div>
                    <select id="continent">
                        <option value="uefa">UEFA</option>
                        <option value="afc">AFC</option>
                    </select>
                </div>
                <div class="editor-item">
                    <div class="label">
                        <label for="country" class="h2">Team</label>
                    </div>
                    <select id="country">
                        <option value="kor">대한민국</option>
                        <option value="ita">이탈리아</option>
                    </select>
                </div>
            </div>
            <div class="editor-item">
                <button type="button">포트추가</button>
            </div>
        </section>
        <section class="draw-wrap mt-10">
            <h1 class="h2">Draw</h1>
            <div class="draw-buttons">
                <div class="draw-button">&#43;</div>
                <div class="draw-button">&#43;</div>
                <div class="draw-button">&#43;</div>
                <div class="draw-button">&#43;</div>
                <div class="draw-button">&#43;</div>
                <div class="draw-button">&#43;</div>
                <div class="draw-button">&#43;</div>
                <div class="draw-button">&#43;</div>
            </div>
        </section>
        <section class="group-table-list">
            <h1 class="h2">Results</h1>
            <table class="group-table">
                <thead>
                    <tr>
                        <th colspan="2">Group A</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>
                            <img src="../images/BA.gif" alt="BA">
                        </th>
                        <td>
                            <p>
                                <span>AFC</span>
                                <span>대한민국</span>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <img src="../images/BA.gif" alt="BA">
                        </th>
                        <td>
                            <p>
                                <span>AFC</span>
                                <span>대한민국</span>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <img src="../images/BA.gif" alt="BA">
                        </th>
                        <td>
                            <p>
                                <span>AFC</span>
                                <span>대한민국</span>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <img src="../images/BA.gif" alt="BA">
                        </th>
                        <td>
                            <p>
                                <span>AFC</span>
                                <span>대한민국</span>
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="group-table">
                <thead>
                    <tr>
                        <th colspan="2">Group B</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>
                            <img src="../images/BA.gif" alt="BA">
                        </th>
                        <td>
                            <p>
                                <span>AFC</span>
                                <span>대한민국</span>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <img src="../images/BA.gif" alt="BA">
                        </th>
                        <td>
                            <p>
                                <span>AFC</span>
                                <span>대한민국</span>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <img src="../images/BA.gif" alt="BA">
                        </th>
                        <td>
                            <p>
                                <span>AFC</span>
                                <span>대한민국</span>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <img src="../images/BA.gif" alt="BA">
                        </th>
                        <td>
                            <p>
                                <span>AFC</span>
                                <span>대한민국</span>
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="group-table">
                <thead>
                    <tr>
                        <th colspan="2">Group C</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>
                            <img src="../images/BA.gif" alt="BA">
                        </th>
                        <td>
                            <p>
                                <span>AFC</span>
                                <span>대한민국</span>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <img src="../images/BA.gif" alt="BA">
                        </th>
                        <td>
                            <p>
                                <span>AFC</span>
                                <span>대한민국</span>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <img src="../images/BA.gif" alt="BA">
                        </th>
                        <td>
                            <p>
                                <span>AFC</span>
                                <span>대한민국</span>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <img src="../images/BA.gif" alt="BA">
                        </th>
                        <td>
                            <p>
                                <span>AFC</span>
                                <span>대한민국</span>
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="group-table">
                <thead>
                    <tr>
                        <th colspan="2">Group D</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>
                            <img src="../images/BA.gif" alt="BA">
                        </th>
                        <td>
                            <p>
                                <span>AFC</span>
                                <span>대한민국</span>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <img src="../images/BA.gif" alt="BA">
                        </th>
                        <td>
                            <p>
                                <span>AFC</span>
                                <span>대한민국</span>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <img src="../images/BA.gif" alt="BA">
                        </th>
                        <td>
                            <p>
                                <span>AFC</span>
                                <span>대한민국</span>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <img src="../images/BA.gif" alt="BA">
                        </th>
                        <td>
                            <p>
                                <span>AFC</span>
                                <span>대한민국</span>
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="group-table">
                <thead>
                    <tr>
                        <th colspan="2">Group E</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>
                            <img src="../images/BA.gif" alt="BA">
                        </th>
                        <td>
                            <p>
                                <span>AFC</span>
                                <span>대한민국</span>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <img src="../images/BA.gif" alt="BA">
                        </th>
                        <td>
                            <p>
                                <span>AFC</span>
                                <span>대한민국</span>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <img src="../images/BA.gif" alt="BA">
                        </th>
                        <td>
                            <p>
                                <span>AFC</span>
                                <span>대한민국</span>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <img src="../images/BA.gif" alt="BA">
                        </th>
                        <td>
                            <p>
                                <span>AFC</span>
                                <span>대한민국</span>
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="group-table">
                <thead>
                    <tr>
                        <th colspan="2">Group F</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>
                            <img src="../images/BA.gif" alt="BA">
                        </th>
                        <td>
                            <p>
                                <span>AFC</span>
                                <span>대한민국</span>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <img src="../images/BA.gif" alt="BA">
                        </th>
                        <td>
                            <p>
                                <span>AFC</span>
                                <span>대한민국</span>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <img src="../images/BA.gif" alt="BA">
                        </th>
                        <td>
                            <p>
                                <span>AFC</span>
                                <span>대한민국</span>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <img src="../images/BA.gif" alt="BA">
                        </th>
                        <td>
                            <p>
                                <span>AFC</span>
                                <span>대한민국</span>
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="group-table">
                <thead>
                    <tr>
                        <th colspan="2">Group G</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>
                            <img src="../images/BA.gif" alt="BA">
                        </th>
                        <td>
                            <p>
                                <span>AFC</span>
                                <span>대한민국</span>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <img src="../images/BA.gif" alt="BA">
                        </th>
                        <td>
                            <p>
                                <span>AFC</span>
                                <span>대한민국</span>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <img src="../images/BA.gif" alt="BA">
                        </th>
                        <td>
                            <p>
                                <span>AFC</span>
                                <span>대한민국</span>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <img src="../images/BA.gif" alt="BA">
                        </th>
                        <td>
                            <p>
                                <span>AFC</span>
                                <span>대한민국</span>
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="group-table">
                <thead>
                    <tr>
                        <th colspan="2">Group H</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>
                            <img src="../images/BA.gif" alt="BA">
                        </th>
                        <td>
                            <p>
                                <span>AFC</span>
                                <span>대한민국</span>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <img src="../images/BA.gif" alt="BA">
                        </th>
                        <td>
                            <p>
                                <span>AFC</span>
                                <span>대한민국</span>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <img src="../images/BA.gif" alt="BA">
                        </th>
                        <td>
                            <p>
                                <span>AFC</span>
                                <span>대한민국</span>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <img src="../images/BA.gif" alt="BA">
                        </th>
                        <td>
                            <p>
                                <span>AFC</span>
                                <span>대한민국</span>
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
    </main>
    <footer>
        <h1>footer</h1>

    </footer>
</body>

</html>