<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>Page Title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet" />
        <link rel="stylesheet" type="text/css" media="screen" href="../css/style.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="../css/layout.css" />
        <script src="main.js"></script>
    </head>
    <body>
        <div class="wrap md:grid md:grid-cols-12">
            <div class="left-wrap md:col-span-3 lg:col-span-2">
                <header>
                    <h2>
                        <a href="#">modu study</a>
                    </h2>
                    <button class="menu-button">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="icon icon-tabler icon-tabler-menu-2"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="#1dd1a1"
                            fill="none"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        >
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" x-show="!open" />
                            <line x1="4" y1="6" x2="20" y2="6" />
                            <line x1="4" y1="12" x2="20" y2="12" />
                            <line x1="4" y1="18" x2="20" y2="18" />
                        </svg>
                    </button>
                    <button class="close-button hide">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="icon icon-tabler icon-tabler-chevrons-up"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="#1dd1a1"
                            fill="none"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        >
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" x-show="open" />
                            <polyline points="7 11 12 6 17 11" />
                            <polyline points="7 17 12 12 17 17" />
                        </svg>
                    </button>
                </header>
                <nav class="hide">
                    <ul>
                        <li class="selected-menu">
                            <a href="#">게시판 Sample</a>
                        </li>
                        <li>
                            <a href="#">게시판 Sample</a>
                        </li>
                        <li>
                            <a href="#">게시판 Sample</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="right-wrap md:col-span=9 lg:col-span-10">
                <main>
                    <!-- signed -> 로그인, unsign -> 비 로그인 -->
                    <div class="top-wrap unsign">
                        <h2 class="board-title"><span>Recruitment for study.</span></h2>
                        <button type="button" class="login-button">Github Login</button>
                        <div class="user-info hide">
                            <span><strong>admin</strong>님, 안녕하세요.</span>
                            <button type="button" class="logout-button">Logout</button>
                        </div>
                    </div>
                    <ul class="board-list">
                        <li>
                            <a href="#">
                                <div class="profile">
                                    <img src="../assets/user.jpg" alt="user_id" />
                                </div>
                                <div class="post">
                                    <strong class="post-title">스터디 모집 제목</strong>
                                    <p class="post-content">
                                        길어질 경우 말줄임 필수 길어질 경우 말줄임 필수 길어질 경우 말줄임 필수 길어질 경우 말줄임 필수 길어질 경우 말줄임 필수 길어질 경우 말줄임 필수 길어질 경우
                                        말줄임 필수 길어질 경우 말줄임 필수 길어질 경우 말줄임 필수
                                    </p>
                                    <div class="post-info">
                                        <p class="post-writer sub-font">abcdefghijk</p>
                                        <p class="post-date sub-font">2021. 10. 27</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="profile">
                                    <img src="../assets/user.jpg" alt="user_id" />
                                </div>
                                <div class="post">
                                    <strong class="post-title">스터디 모집 제목</strong>
                                    <p class="post-content">내용 내용 내용 내용 내용</p>
                                    <div class="post-info">
                                        <p class="post-writer sub-font">admin</p>
                                        <p class="post-date sub-font">2021. 10. 27</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="profile">
                                    <img src="../assets/user.jpg" alt="user_id" />
                                </div>
                                <div class="post">
                                    <strong class="post-title">스터디 모집 제목</strong>
                                    <p class="post-content">내용 내용 내용 내용 내용</p>
                                    <div class="post-info">
                                        <p class="post-writer sub-font">admin</p>
                                        <p class="post-date sub-font">2021. 10. 27</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="profile">
                                    <img src="../assets/user.jpg" alt="user_id" />
                                </div>
                                <div class="post">
                                    <strong class="post-title">스터디 모집 제목</strong>
                                    <p class="post-content">내용 내용 내용 내용 내용</p>
                                    <div class="post-info">
                                        <p class="post-writer sub-font">admin</p>
                                        <p class="post-date sub-font">2021. 10. 27</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="profile">
                                    <img src="../assets/user.jpg" alt="user_id" />
                                </div>
                                <div class="post">
                                    <strong class="post-title">스터디 모집 제목</strong>
                                    <p class="post-content">내용 내용 내용 내용 내용</p>
                                    <div class="post-info">
                                        <p class="post-writer sub-font">admin</p>
                                        <p class="post-date sub-font">2021. 10. 27</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="profile">
                                    <img src="../assets/user.jpg" alt="user_id" />
                                </div>
                                <div class="post">
                                    <strong class="post-title">스터디 모집 제목</strong>
                                    <p class="post-content">내용 내용 내용 내용 내용</p>
                                    <div class="post-info">
                                        <p class="post-writer sub-font">admin</p>
                                        <p class="post-date sub-font">2021. 10. 27</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </main>
            </div>
        </div>
    </body>
</html>
