<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>RECKET NET</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
    integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous" />
    <link rel='stylesheet' type='text/css' media='screen' href='../css/style.css'>
    <link rel="stylesheet" href="../css/cate.css">
</head>
<body>
    <header>
        <h1 class="title">RECKEY.net</h1>
        <button type="button"><i class="fas fa-bars"></i></button>
        <a href="#" class="main-link">RECKEY.net</a>
        <button type="button"><i class="fas fa-user"></i></button>
    </header>
    <nav>
        <ul class="menu">
            <li>
                <a href="#">about</a>
            </li>
            <li>
                <a href="#">keyboards</a>
            </li>
        </ul>
    </nav>
    <main>
        <div class="category">
            <strong>Category</strong>
        </div>
        <ol class="company-list">
            <li class="item">
                <a href="#">
                    <img src="../img/abko.jpeg" alt="leopold">
                    <div class="company">
                        <div class="company-name">
                            <h2>ABKO</h2>
                        </div>
                    </div>
                </a>
            </li>
            <li class="item">
                <a href="#">
                    <img src="../img/leopold.png" alt="leopold">
                    <div class="company">
                        <div class="company-name">
                            <h2>LEOPOLD</h2>
                        </div>
                    </div>
                </a>
            </li>
            <li class="item">
                <a href="#">
                    <img src="../img/samsung.svg" alt="leopold">
                    <div class="company">
                        <div class="company-name">
                            <h2>SAMSUNG</h2>
                        </div>
                    </div>
                </a>
            </li>
            <li class="item">
                <a href="#">
                    <img src="../img/xenics.gif" alt="leopold">
                    <div class="company">
                        <div class="company-name">
                            <h2>XENICS</h2>
                        </div>
                    </div>
                </a>
            </li>
            <li class="item">
                <a href="#">
                    <img src="../img/logitech.png" alt="leopold">
                    <div class="company">
                        <div class="company-name">
                            <h2>Logitech</h2>
                        </div>
                    </div>
                </a>
            </li>
            <li class="item">
                <a href="#">
                    <img src="../img/corsair.png" alt="leopold">
                    <div class="company">
                        <div class="company-name">
                            <h2>CORSAIR</h2>
                        </div>
                    </div>
                </a>
            </li>
        </ol>
    </main>
    <footer>
        <ul class="footer-link">
            <li>
                <a href="#">
                    about
                </a>
            </li>
            <li>
                <a href="#">
                    login
                </a>
            </li>
        </ul>
    </footer>
</body>
</html>