body {
    background-color: #fff;
    margin: 0;
    height: 100vh;
}

header {
    margin: 0;
}

main {
    width: 90%;
    margin: 0 3.5416666666666665%;
}

.sort select {
    margin-top: 1.4rem;
    border-radius: 1rem;
    background-color: var(--accent-color);
    color: #fff;
}

main {
    overflow-y: scroll;
}

main::-webkit-scrollbar {
    display: none;
}

.keyboards {
    padding: 0;
    list-style: none;
    border-top: 1px solid var(--border-color);
}

.item:first-child {
    margin-top: 1.75rem;
}

.item {
    height: 8rem;
    border: 1px solid var(--border-color);
    border-radius: 1rem;
    margin-top: 3.5rem;
}

.item>a {
    color: var(--font-color);
    display: flex;
    align-items: center;
}

.item img {
    border: 1px solid var(--border-color);
    margin: 0.6rem;
    width: 6.4rem;
    height: 6.4rem;
    border-radius: 50%;
}

.product-name {
    font-size: 1.4rem;
    font-weight: 700;
    padding-left: 1rem;
}

.product-detail {
    font-size: 1.2rem;
    margin-top: 1rem;
    padding-left: 1rem;
}

.rating,
.type {
    padding: 0 0.5rem;
    border: 1px solid var(--main-color);
    border-radius: 1rem;
}

.rating {
    margin-right: 1rem;
    color: #fff;
    width: 2rem;
    background-color: var(--main-color);
}

.type {
    color: #fff;
    background-color: var(--red-key-color);
}
