#footer {
    width: 100vw;
    height: auto;
    font-size: var(--sm-font);
    background: var(--font-color);
    display: block;
    text-align: center;
    color: var(--main-color);
    bottom: 0px;
    padding: 1.2rem 0;
}

.footer-wrap {
    display: flex;
    justify-content: space-evenly;
}

.footer-wrap span,
a {
    margin-top: 0.4rem;
}

.footer-wrap .link {
    font-size: large;
}

.footer-wrap a {
    color: var(--main-color);
}

.footer-left,
.footer-right {
    display: flex;
    flex-direction: column;
    text-align: left;
}
