/* The copyright of this work belongs to yondo123@gmail.com. */
@import url(../css/header.css);
@import url(../css/footer.css);

body {
    overflow-x: hidden;
    background-color: #fff;
    margin: 0 auto;
    height: 100vh;
}

main {
    position: relative;
    max-width: 1280px;
    min-height: 800px;
    margin: 2.4rem 0;
    margin-left: 20rem;
    padding: 0 1.2rem;
    border: 0.1rem solid var(--border-color);
    border-radius: 0.8rem;
    color: var(--font-color);
}

.menu a,
.title {
    color: var(--font-color);
}

.post-header {
    margin-top: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post {
    margin-top: 1.2rem;
}

.highlight {
    color: var(--sub-font-color);
}

.post-content {
    margin: 2.4rem 0;
}
.post-info {
    display: flex;
}

.post-info div:first-child {
    margin-right: 1.4rem;
}

.post-info dt {
    margin-right: 0.2rem;
}

.post-info dt,
dd {
    display: inline;
}

.writer,
.date {
    min-width: 4rem;
    border-bottom: 1px solid var(--border-color);
    padding: 0.4rem 0;
}

.content-header {
    margin-top: 2.4rem;
}

.content {
    margin-top: 0.8rem;
}

.comment {
    padding: 0.8rem;
    margin: 1.2rem 0;
    border: 0.1rem solid var(--border-color);
    border-radius: 0.8rem;
}

.comment-notice {
    font-style: italic;
    display: flex;
    align-items: center;
}

.auth-field,
.comment-field {
    margin-left: 1.2rem;
}

.comment-write {
    margin-top: 0.8rem;
}
.comment-write textarea {
    padding: 0.8rem;
    resize: none;
    width: 100%;
    height: 6rem;
    border: none;
    border-top: 1px solid var(--border-color);
}

/* 댓글리스트 */
.comment-list {
    margin-top: 1.2rem;
}

.comment-list li {
    background-color: #dfe6e9;
    border: 0.1rem solid var(--border-color);
    border-radius: 0.8rem;
    padding: 0.8rem;
    display: flex;
    align-items: center;
}

.icon,
.comment-writer {
    margin-right: 0.8rem;
}
