* {
    box-sizing: border-box;
    margin : 0;
}

.box {
    width: 100%;
    height: 100vh;
    background-color: red;
    font-weight: 600;
    text-align: center;
}

.box::after{
    color: #fff;
    content: 'hello';
}

@media screen and (min-width: 576px) {
    /* code */
    .box {
        background-color: orange;
    }
}